#forma{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
    outline:3px solid white;
    height: 100px;
}

#inputNewCategory{
    background-color: black;
    color:white;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    
}

::placeholder{
    color:white;
    font-size: 15px;
}


#naslov{
    margin-top:15%;
    text-align: center;
}