



.circle-pic {
  width: 70px;
  height: 70px;
  border: solid white 3px;
  border-radius: 50%;
  
  display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
}

.kontenjer{
    margin-bottom: 10%;
}


.fora{
    max-width: 50%;
    min-height: 40px;
    outline: 3px solid white;
    margin-left: 25%;
    margin-right: 25%;
    overflow-wrap: break-word;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 3px;
    padding:10px;
    
}

.like{
    outline:3px solid white;
    display:inline-block;
    margin-left: 25%;
    width: 10%;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;    
}

.likeHref{
    text-decoration: none;
    color:white;
}

.likeHref:hover > .like{
    background-color: white;
    color:black;
}



.share {  
    outline:3px solid white;
    width: 10%;
    display:inline-block;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    
        
}

.numLikes{
        outline:3px solid white;
    width: 10%;
    display:inline-block;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}

